.carousel-inner > .carousel-item > img {
  height: 25%;
  width: 100%;
  margin: auto;
}

.carousel-item {
  text-align: center;
}

.carousel-control-prev {
  left: 1vw;
  right: auto;
}
.carousel-control-next {
  left: auto;
  right: 1vw;
}